
  <section>
    <div class="container mt-5">
      <div class="row">
        {{#each products}}
        {{!-- Card 1 start --}}
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.description}}</p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
        </div>
        {{!-- end --}}
        {{/each}}
      </div>
    </div>
    </div>
  </section>
  {{!-- section ended --}}

  