
  <section>
    <div class="container mt-5">
      <div class="row">
        {{#each products}}
        {{!-- Card 1 start --}}
        <div class="col-md-3 col-xs-6 p-3">
          <div class="card" style="width: 15rem; height:24rem border-radius:10px">
            <img class="card-img-top"
             src="/product-images/{{this._id}}.jpg"
             alt="Card image cap"
            >
            <div class="card-body">
              <h5 class="card-title">{{this.Name}}</h5>
              <p class="card-text">{{this.Description}}</p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
        </div>
        {{!-- end --}}
        {{/each}}
      </div>
    </div>
    </div>
  </section>
  {{!-- section ended --}}